// Cores

$color-white: #ffffff;
$color-gray-1: #f9f9f9;
$color-gray-2: #eaeaea;
$color-gray-3: #9e9e9e;
$color-gray-4: #696969;
$color-gray-5: #444444;
$color-black: #000000;

$color-orange-1: #ff8e49;
$color-orange-2: #f0690a;

// Font-size
$text-size-1: 13px;
$text-size-2: 14px;
$text-size-3: 18px;
$text-size-4: 20px;
$text-size-5: 22px;
$text-size-6: 24px;
